*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    background: hsl(194, 95%, 38%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.counter{
    padding: 20px 40px;
    font-size: 40px;
    color: white;
    background: #33c9ff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0 20px;
}

.counter h1{
    font-size: 18px;
    margin-bottom: 15px;
}